//body
$base-text-color: #fff;
// $base-text-color:#D6372E;
$bg-color: #212121; 
$font-family: "Lato", "Open Sans", sans-serif;
$font-size: 1.25em;
$line-height: 1.66em;



//link
$nav-link-color: rgb(252, 249, 249);
$nav-hover-color:  rgb(126, 126, 126);
$nav_bg:  #D6372E;
// $nav_bg:  #1d244b;

//navbar
$nav_svg_logo_bg: red;
$nav_svg_logo_text:  #fff;

// menu 
$nav_icon: #fff;
$nav_icon_exp: #fff;
$svg_mask_fill: #D6372E;

//main contents 
$port_page_before:#253069;




